.gallery {
  width: 888px;
  margin: 0 auto;
  height: 300px; }

div {
  color: #1875e7; }

.rounded {
  border-left-radius: 5px; }

body {
  margin: 7px;
  top: 150px;
  right: 300%; }

.sidebar {
  width: 300px; }
  @media screen and (orientation: landscape) {
    .sidebar {
      width: 500px; } }

.list {
  color: #00ff00;
  width: 97%; }
  .list .list-item {
    background-color: #ff0000;
    color: #000000; }

a {
  font-weight: 700; }
  a:hover {
    text-decoration: underline; }
  body.firefox a {
    font-weight: normal; }

.funky {
  font: 2px/3px;
    font-family: fantasy;
    font-size: 30em;
    font-weight: bold; }

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right;
  display: inline; }

.shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5); }

.icon-triangle {
  content: "";
  height: 0;
  width: 0;
  border-bottom: 16px solid #eee;
  border-left: 16px dashed transparent;
  border-right: 16px dashed transparent; }
