@CHARSET "UTF-8";
/**
  @media all and (min-width:0px){ #demo {color:#FFF\0;} }                            opera
  @media screen and (-webkit-min-device-pixel-ratio:0){ #demo {color:#FFF;} }        chrome、safari
  #demo{color:#FFF\9;}       IE
  :root #demo{color:#FFF\9;} IE9
  #demo{color:#FFF\0;}       IE8
  #demo{*color:#FFF;}        IE7、IE6
  #demo{+color:#FFF;}        IE7
  #demo{_color:#FFF;}        IE6
**/
/*重设开始*/
html{color:#666;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,button {margin:0;padding:0;border:0;outline:0;font-weight:normal;font-family: Microsoft Yahei,Arial, SimSun, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;vertical-align:baseline;font-style:normal;-moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display: inline-block;*display: inline; /*IE 6/7*/zoom: 1;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53}
body{height:100%;}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal}
abbr[title]{border-bottom:1px dotted}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:700}
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1.17em;}
h4{font-size:1em;}
h5{font-size:1em;}
h6{font-size:1em;}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a{text-decoration:none; outline:none;hide-focus:expression(this.hideFocus=true);blr:expression(this.onFocus=this.blur()); color:#555;}
a:link{color:#e60012}
a:hover{color:#e60012;text-decoration:underline}
a:focus{outline:thin dotted}
a:link,a:active,a:hover,a:focus{outline:0; hide-focus:expression(this.hideFocus=true);blr:expression(this.onFocus=this.blur());}
ins,a{text-decoration:none}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
b,strong{font-weight:700}
blockquote{margin:1em 40px}
small{font-size:80%}
/*img,object,video,embed{max-width:100%;height:auto}*/
img{-ms-interpolation-mode bicubic;vertical-align:middle}
svg:not(:root){overflow:hidden}
figure{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
table{border-collapse:collapse;border-spacing:0}
[hidden]{display:none!important}
button,input,select,textarea{border:none;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;_vertical-align:middle;box-sizing:content-box;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
/*重设结束*/

/*常用设置开始*/
.wauto:before,.grid:before,.wrapper:before,.w990:before,.wauto:after,.grid:after,.wrapper:after,.w990:after,.clearfix:before,.clearfix:after{content:'';display:table}
.wauto:after,.grid:after,.wrapper:after,.w990:after,.clearfix:after{clear:both}
.wauto,.grid,.wrapper,.w990,.clearfix{zoom:1}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clear{zoom:1}
.hide{display:none}
[hidden]{display:none}
.hidden{display:none}
.opacity{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.left,.fl,.right,.fr{display: inline-block;*display: inline; /*IE 6/7*/zoom: 1;}
.left,.fl{float:left}
.right,.fr{float:right}
.text-overflow{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.text-none{height:0;line-height:0;font-size:0;text-indent:-9999px;}
.linear{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));background:-moz-linear-gradient(top,#fcfcfc,#f1f1f1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f1f1f1');background:-o-linear-gradient(top,#fcfcfc,#f1f1f1);background:-ms-linear-gradient(top,#fcfcfc,#f1f1f1);background:linear-gradient(top,#fcfcfc,#f1f1f1)}
.linear-light{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f9f9f9));background:-moz-linear-gradient(top,#fcfcfc,#f9f9f9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f9f9f9');background:-o-linear-gradient(top,#fcfcfc,#f9f9f9);background:-ms-linear-gradient(top,#fcfcfc,#f9f9f9);background:linear-gradient(top,#fcfcfc,#f9f9f9)}
.rmb{font-family:Verdana,'Microsoft YaHei',STXihei,MingLiu;font-style:normal;padding-right:2px}
.webkit-adjust{-webkit-text-size-adjust:none}
.shadow {-moz-box-shadow: 1px 1px 3px #ededed;-webkit-box-shadow: 1px 1px 3px #ededed;box-shadow: 1px 1px 3px #ededed;}
.inline{display: inline-block;*display: inline; /*IE 6/7*/zoom: 1;}
/*常用设置结束*/


/*tabLe表格样式开始*/
.table{border-collapse:collapse;border:1px solid #dedede;width:100%;font-size:12px;text-align:left}
.table tr:nth-child(even),.table-split,.table-hover{background-color:#fafafa}
.table tr{color:#666}
.table tr:hover{background-color:#fafafa}
.table thead tr{color:#666}
.table thead tr:hover{background-color:#ededed;}
.table thead{color:#666;background-color:#ededed;}
.table th{padding:7px 9px;border-bottom:1px solid #dedede;border-left:1px solid #dedede;text-align:left}
.table td{padding:8px 9px 7px;border-bottom:1px solid #dedede;border-left:1px solid #dedede}
.table .tr_bg td {background-color:#f8fcfe; color: #666;}
.table tfoot td{border-bottom:none}
.table-noborder,.table-noborder td,.table-noborder tr,.table-noborder th{border:none;outline:none}
.table-noborder .table-split,.table-noborder .table-hover{background-color:#f7f7f7}
.table-inbox{border:none;outline:none}
/*tabLe表格样式结束*/

/*简写开始*/
.wauto{width:100%;margin:0 auto;min-height:1px;}
.grid{margin:0 auto; width:1200px;}
.wrapper{margin:0 auto;width:1200px}
.w990{margin:0 auto;width:990px}
.w760{width:760px}
.w650{width:650px}
.w300{width:300px}
.w280{width:280px}
.w260{width:260px}
.w240{width:240px}
.w220{width:220px}
.w200{width:200px}
.w180{width:180px}
.w160{width:160px}
.w140{width:140px}
.w120{width:120px}
.w100{width:100px}
.w80{width:80px}
.w75{width:75px}
.w60{width:60px}
.w40{width:40px}
.h10{height:10px;line-height:10px}
.h20{height:20px;line-height:20px}
.h22{height:22px;line-height:22px}
.h24{height:24px;line-height:24px}
.h26{height:26px;line-height:26px}
.h28{height:28px;line-height:28px}
.h30{height:30px;line-height:30px}
.h32{height:32px;line-height:32px}
.h34{height:34px;line-height:34px}
.h36{height:36px;line-height:36px}
.h38{height:38px;line-height:38px}
.h40{height:40px;line-height:40px}
.h42{height:42px;line-height:42px}
.h44{height:44px;line-height:44px}
.h46{height:46px;line-height:46px}
.h48{height:48px;line-height:48px}
.h50{height:50px;line-height:50px}
.fl,.fr{display: inline-block;*display: inline; /*IE 6/7*/zoom: 1;}
.fl{float:left}
.fr{float:right}
.tl{text-align:left}
.tr{text-align:right}
.tc{text-align:center}
.tj{text-align:justify}
.color-red{ color:#f00;}
.m0{margin:0px!important;}
.mt0{margin-top:0px!important;}
.mr0{margin-right:0px!important;}
.mb0{margin-bottom:0px!important;}
.ml0{margin-left:0px!important;}
.m5{margin:5px}
.mt5{margin-top:5px}
.mr5{margin-right:5px}
.mb5{margin-bottom:5px}
.ml5{margin-left:5px}
.m10{margin:10px}
.mt10{margin-top:10px}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.ml10{margin-left:10px}
.m15{margin:15px}
.mt15{margin-top:15px}
.mr15{margin-right:15px}
.mb15{margin-bottom:15px}
.ml15{margin-left:15px}
.m20{margin:20px}
.mt20{margin-top:20px}
.mr20{margin-right:20px}
.mb20{margin-bottom:20px}
.ml20{margin-left:20px}
.m25{margin:25px}
.mt25{margin-top:25px}
.mr25{margin-right:25px}
.mb25{margin-bottom:25px}
.ml25{margin-left:25px}
.m30{margin:30px}
.mt30{margin-top:30px}
.mr30{margin-right:30px}
.mb30{margin-bottom:30px}
.ml30{margin-left:30px}
.m40{margin:40px}
.mt40{margin-top:40px}
.mr40{margin-right:40px}
.mb40{margin-bottom:40px}
.ml40{margin-left:40px}
.m50{margin:50px}
.mt50{margin-top:50px}
.mr50{margin-right:50px}
.mb50{margin-bottom:50px}
.ml50{margin-left:50px}
.m60{margin:60px}
.mt60{margin-top:60px}
.mr60{margin-right:60px}
.mb60{margin-bottom:60px}
.ml60{margin-left:60px}
.m70{margin:70px}
.mt70{margin-top:70px}
.mr70{margin-right:70px}
.mb70{margin-bottom:70px}
.ml70{margin-left:70px}
.m80{margin:80px}
.mt80{margin-top:80px}
.mr80{margin-right:80px}
.mb80{margin-bottom:80px}
.ml80{margin-left:80px}
.p5{padding:5px}
.pt5{padding-top:5px}
.pr5{padding-right:5px}
.pb5{padding-bottom:5px}
.pl5{padding-left:5px}
.p10{padding:10px}
.pt10{padding-top:10px}
.pr10{padding-right:10px}
.pb10{padding-bottom:10px}
.pl10{padding-left:10px}
.p15{padding:15px}
.pt15{padding-top:15px}
.pr15{padding-right:15px}
.pb15{padding-bottom:15px}
.pl15{padding-left:15px}
.p20{padding:20px}
.pt20{padding-top:20px}
.pr20{padding-right:20px}
.pb20{padding-bottom:20px}
.pl20{padding-left:20px}
.p30{padding:30px}
.pt30{padding-top:30px}
.pr30{padding-right:30px}
.pb30{padding-bottom:30px}
.pl30{padding-left:30px}
.p40{padding:40px}
.pt40{padding-top:40px}
.pr40{padding-right:40px}
.pb40{padding-bottom:40px}
.pl40{padding-left:40px}
.p50{padding:50px}
.pt50{padding-top:50px}
.pr50{padding-right:50px}
.pb50{padding-bottom:50px}
.pl50{padding-left:50px}
.p60{padding:60px}
.pt60{padding-top:60px}
.pr60{padding-right:60px}
.pb60{padding-bottom:60px}
.pl60{padding-left:60px}
.p70{padding:70px}
.pt70{padding-top:70px}
.pr70{padding-right:70px}
.pb70{padding-bottom:70px}
.pl70{padding-left:70px}
.p80{padding:80px}
.pt80{padding-top:80px}
.pr80{padding-right:80px}
.pb80{padding-bottom:80px}
.pl80{padding-left:80px}
.f11{font-size:11px}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f15{font-size:15px}
.f16{font-size:16px}
.f17{font-size:17px}
.f18{font-size:18px}
.f19{font-size:19px}
.f20{font-size:20px}
.f21{font-size:21px}
.f22{font-size:22px}
.f23{font-size:23px}
.f24{font-size:24px}
.f25{font-size:25px}
.f26{font-size:26px}
.f27{font-size:27px}
.f28{font-size:28px}
.f29{font-size:29px}
.f30{font-size:30px}
.f31{font-size:31px}
.f32{font-size:32px}
.f33{font-size:33px}
.f34{font-size:34px}
.f35{font-size:35px}
.f36{font-size:36px}
.f37{font-size:37px}
.f38{font-size:38px}
.f39{font-size:39px}
.f40{font-size:40px}
.fz100{font-size:100%}
.fz90{font-size:90%}
.fb{font-weight:bold}
.fi{font-style:italic}
.fn{font-weight:normal}
.bts{border-top:1px solid #dedede}
.btd{border-top:1px dotted #dedede}
.brs{border-right:1px solid #dedede}
.brd{border-right:1px dotted #dedede}
.bbs{border-bottom:1px solid #dedede}
.bbd{border-bottom:1px dotted #dedede}
.bls{border-left:1px solid #dedede}
.bld{border-left:1px dotted #dedede}
.pr{ position:relative;}
.pa{ position:absolute;}
.inline{display:inline-block;*display: inline; /*IE 6/7*/zoom: 1;}
/*简写结束*/

/*990px栅格开始*/
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,.grid-17,.grid-18,.grid-19,.grid-20,.grid-21,.grid-22,.grid-23,.grid-24,.grid-25{margin:0 10px 10px 0;float:left;display:inline}
.grid-1{width:30px}
.grid-2{width:70px}
.grid-3{width:110px}
.grid-4{width:150px}
.grid-5{width:190px}
.grid-6{width:230px}
.grid-7{width:270px}
.grid-8{width:310px}
.grid-9{width:350px}
.grid-10{width:390px}
.grid-11{width:430px}
.grid-12{width:470px}
.grid-13{width:510px}
.grid-14{width:550px}
.grid-15{width:590px}
.grid-16{width:630px}
.grid-17{width:670px}
.grid-18{width:710px}
.grid-19{width:750px}
.grid-20{width:790px}
.grid-21{width:830px}
.grid-22{width:870px}
.grid-23{width:910px}
.grid-24{width:950px}
.grid-25{width:990px}
.grid-row{margin-right:-10px;zoom:1}
.grid-row:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}
.percent-15{width:15%}
.percent-13{width:13%}
.percent-7{width:7%}
.percent-6{width:6%}
.percent-5{width:5%}
/*990px栅格结束*/

/*打印样式重设 | 开始*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* 黑白打印速度更快: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* 不显示图像链接或 javascript/内部链接 */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
/*打印样式重设 | 结束*/