doctype html
html(lang='zh-cmn-Hans')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
    title 协议页面
    meta(name="keywords", content="协议页面")
    meta(name="description", content="协议页面")
    link(rel='stylesheet', href='/static/libs/css/msui/0.6.2/sm.min.css')
    style body{min-width: 320px;max-width: 640px;margin: 0 auto;}
  body
    div.page
      //页面内容 | 开始
      div.content
        div.content-padded
          h3 药立达用户协议
          p 本服务协议双方为江西金利达电子商务有限公司旗下网站“药立达”（下称“药立达”）与药立达网站用户，本服务协议具有合同效力。
          h4 一、确认
          p.
            <b>1、</b>用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用药立达网站服务。<br/>
            <b>2、</b>药立达服务为区域性服务，药立达仅在服务开通区域向该区域用户提供服务，服务开通区域之外用户无法使用药立达服务，即使用户已经注册并使用了部分药立达服务，并不表明药立达能够在服务开通区域之外提供服务，也不必履行服务义务。<br/>
            <b>3、</b>用户点击药立达网站注册页面的同意注册按钮并完成注册程序、获得药立达网站账号和密码时，视为用户与药立达已达成该协议。无论用户事实上是否在注册之前认真阅读了本服务协议，只要用户按照药立达注册程序成功注册，用户的行为仍然表示其同意并签署了本服务协议。<br/>
            <b>4、</b>用户承诺自己在使用药立达提供的服务时实施的所有行为均遵守国家法律、法规和药立达的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任。
          h4 二、定义
          p.
            <b>1、</b>药立达：药立达向用户提供的快速、方便、安全、专业的网上送药上门信息服务。<br/>
            <b>2、</b>用户：接受并同意本协议全部条款及药立达网站发布的其他全部服务条款和操作规则，通过药立达网站获得药立达服务的注册会员。<br/>
            <b>3、</b>配送范围：药立达网站服务开通区域。药立达服务为区域性服务，用户在药立达开通服务区域内才能使用送药上门服务，服务开通区域之外则无法使用。<br/>
            <b>4、</b>药店：在服务开通区域内能够提供送药上门服务的合法药店。<br/>
            <b>5、</b>商品信息：药店提供的商品信息，经药立达审核发布，包括但不限于通用名/商品名、数量、价格、批准文号、主要成份及含量、注意事项、包装规格、有效期、性状类别、生产企业、功能主治、适应症、用法用量、不良反应、禁忌等内容。<br/>
            <b>6、</b>送药：用户下单后由药店负责送货上门。
          h4 三、用户权利和义务
          p.
            <b>1、</b>用户有权按照本协议约定接受药立达网站提供的服务。<br/>
            <b>2、</b>用户应保证其在注册时和提交订单时所提供的姓名、联系方式、联系地址等全部信息真实、完整、准确，并当上述信息发生变更时及时进行更新提供给药立达网站的信息。<br/>
            <b>3、</b>用户不得以任何技术手段或其他方式干扰药立达网站的正常运行或干扰其他用户对药立达网站服务的使用。<br/>
            <b>4、</b>用户不得以虚构事实等方式恶意诋毁药立达网站或药店的商誉。<br/>
            <b>5、</b>用户使用药立达服务应出于真实消费目的，不得以转售等商业目的。<br/>
            <b>6、</b>用户在提交用药需求后应配合接收商品或服务。<br/>
            <b>7、</b>用户不得对药立达服务及药店服务进行虚假评价或虚假投诉。
          h4 四、药立达权利和义务
          p.
            <b>1、</b>如用户不具备本协议约定的注册资格，则药立达网站有权拒绝用户进行注册，对已注册的用户有权注销其药立达网站会员账号，药立达网站因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，药立达网站保留其他任何情况下决定是否接受用户注册的权利。<br/>
            <b>2、</b>药立达网站发现账户使用者并非账户初始注册人时，有权中止该账户的使用。<br/>
            <b>3、</b>药立达网站通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供药立达网站服务。<br/>
            <b>4、</b>药立达网站有权在发现药立达网站上显示的任何信息存在明显错误时，对信息予以更正。<br/>
            <b>5、</b>药立达网站保留随时修改、中止或终止药立达网站服务的权利，药立达网站行使修改或中止服务的权利不需事先告知用户，药立达网站终止药立达网站一项或多项服务的，终止自药立达网站在网站上发布终止公告之日生效。<br/>
            <b>6、</b>药立达网站采取必要的技术手段和管理措施保障药立达网站的正常运行，并提供必要、可靠的交易环境和交易服务，维护网站秩序。<br/>
            <b>7、</b>如用户连续一年未使用药立达网站会员账号和密码登录药立达网站，则药立达网站有权注销用户的药立达网站账号。账号注销后，药立达网站有权将相应的会员名开放给其他用户注册使用。<br/>
            <b>8、</b>药立达网站有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用药立达网站服务期间的全部信息，但不得非法使用该等信息。<br/>
            <b>9、</b>药立达网站有权随时删除药立达网站网站内各类不符合国家法律法规、规范性文件或药立达网站规定的用户评价等内容信息，药立达网站行使该等权利不需提前通知用户。<br/>
          h4 五、服务内容及规则
          p.
            <b>1、</b>药立达网站旨在为用户提供快速、方便、安全、专业的送药上门信息服务。<br/>
            <b>2、</b>用户有权在药立达网站浏览商品信息，在浏览商品信息时，应当仔细阅读商品信息中包含的全部内容，包括但不限于包括但不限于通用名/商品名、批准文号、主要成份及含量、注意事项、包装规格、有效期、性状类别、生产企业、功能主治、适应症、用法用量、不良反应、禁忌、价格、配送费用、退换货方式、退款条件、售后服务等内容，其中用户应特别注意商品/服务的送货地址、配送时效规则及退换货方式等内容，用户完全接受商品/服务信息中包含的全部内容后方可点击提交用药需求。<br/>
            <b>3、</b>用户在充分了解商品/服务信息后，选择及确认数量、价格、应付总额、收货地址、联系方式或送货时间等内容，用户完全同意商品/服务的全部内容后方可提交用药需求。<br/>
            <b>4、</b>用户再次阅读并确认商品/服务页面的全部内容后方可点击确认用药需求，用户确认用药需求即视为用户已知晓、同意并接受商品/服务页面中的全部内容。<br/>
            <b>5、</b>用户提交用药需求后，药店专业配送人员争取在1小时内将需求确认的商品/服务送到用户手上或指定位置。用户理解影响配送时效因素，包括但不限于天气、地面状况、突发情况等因素都有可能影响配送时效，造成药店无法在1小时内将用户商品/服务送到用户手上。在此种情况下，药立达网站不对任何间接性、后果性、惩戒性、偶然性、特殊性或刑罚性的损害，包括因用户使用药立达信息服务而遭受的利润损失，承担责任（即使药立达已被告知该等损失的可能性亦然）。尽管本条款中可能含有相悖的规定，药立达对用户承担的全部责任，无论因何原因或何种行为方式，始终不超过药店在本次配送商品/服务而支付给药立达的服务费用。<br/>
            <b>6、</b>用户收到商品/服务时，需检验核实商品/服务，包括商品名称、数量、规格、价格、包装、温湿度指标等。如其中一项不符合要求，用户可拒绝签字收货。药立达可根据用户需要安排药店二次发货。<br/>
            <b>7、</b>用户在药立达网站对商品/服务进行评价时应当根据实际情况如实进行评价。<br/>
            <b>8、</b>用户应当按照药立达网站发布的规则参加活动，遵守活动秩序。
          h4 六、药品退换货
          p.
            有关退货，药店将在用户收到药品起的7天内，符合下列药品退换货要求的，可以退货。<br/>
            1、由于产品本身存在质量原因，经药店质量管理部门检验，确属质量问题的；<br/>
            2、由于药店原因造成发货错误或因延误发货，而给用户带来不便的；<br/>
            3、用户因自身提供的地址不全或错误，使得商品未送达成功被退回的；<br/>
            4、国家权威管理部门发布公告的商品（如停售、收回等）。<br/>
            否则，药品一经药店售出，不予退换货。
          h4 七、有限责任
          p.
            <b>1、</b>所有药立达上的药店均已依法取得药品经营许可证和GSP质量管理体系认证，药立达虽然能够保证在药立达网站上发布的商品/服务信息的真实性，不夸大宣传，但没有药店商品/服务的连带责任，如因药店商品/服务真实性导致用户损失的，药立达对用户承担的全部责任，始终不超过药店在本次配送商品/服务而支付给药立达的服务费用。<br/>
            <b>2、</b>用户未通过药立达网站与药店之间进行的交易不属于药立达网站服务范畴，药立达网站对不属于药立达网站服务范畴的交易事项不承担任何责任，用户不得因其与药店之间因此类交易发生的任何争议投诉药立达网站或要求药立达网站承担任何责任。<br/>
            <b>3、</b>不论在何种情况下，药立达网站对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。<br/>
            <b>4、</b>为了用户更加方便和安全的使用药立达网站的服务，药立达网站将使用cookie，收集用户与药立达网站有关的特征信息，用于标识用户的设备。同时，药立达网站会积极采取先进的技术手段和有效的管理机制来保障用户的账户安全，保障用户的隐私信息不被任何未授权的使用或者泄露。
          h4 八、知识产权
          p.
            <b>1、</b>药立达网站所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归药立达网站所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。<br/>
            <b>2、</b>药立达网站名称中包含的所有权利 (包括商誉和商标) 均归药立达网站所有。<br/>
            <b>3、</b>用户接受本协议即视为用户主动将其在药立达网站发表的任何形式的信息的著作权，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利无偿独家转让给药立达网站所有，药立达网站有权利就任何主体侵权单独提起诉讼并获得全部赔偿。<br/>
            <b>4、</b>用户在使用药立达网站服务过程中不得非法使用或处分药立达网站或他人的知识产权权利。用户不得将已发表于药立达网站的信息以任何形式发布或授权其它网站（及媒体）使用。
          h4 九、协议的变更和终止
          p.
            <b>1、</b>药立达网站有权随时对本协议内容或药立达网站发布的其他服务条款及操作规则的内容进行变更，变更时药立达网站将在药立达网站站内显著位置发布公告，变更自公告发布之时生效，如用户继续使用药立达网站提供的服务即视为用户同意该等内容变更，如用户不同意变更后的内容则用户有权停止使用药立达网站服务。登录或继续使用药立达服务将表示用户接受经修订的协议。<br/>
            <b>2、</b>药立达网站有权依据本协议约定注销用户的药立达网站账号，本协议于账号注销之日终止。<br/>
            <b>3、</b>药立达网站有权依据本协议约定终止全部药立达网站服务，本协议于药立达网站全部服务终止之日终止。<br/>
            <b>4、</b>本协议终止后，用户无权要求药立达网站继续向其提供任何服务或履行任何其他义务，包括但不限于要求药立达网站为用户保留或向用户披露其原药立达网站账号中的任何信息，向用户或第三方转发任何其未曾阅读或发送过的信息等。<br/>
            <b>5、</b>本协议的终止不影响守约方向违约方追究违约责任。
          h4 十、违约责任
          p.
            <b>1、</b>药立达网站或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。<br/>
            <b>2、</b>如用户违反本协议约定，以转售等商业目的使用药立达服务，则药立达网站有权取消相关服务，并有权注销其药立达网站账号，终止为其提供药立达网站服务，如药立达网站因此而遭受损失的，有权要求用户赔偿损失。<br/>
            <b>3、</b>如因用户提供的信息不真实、不完整或不准确给药立达网站或药店造成损失的，药立达网站有权要求用户对药立达网站或对药店进行损失的赔偿。<br/>
            <b>4、</b>如因用户违反法律法规规定或本协议约定，在药立达网站或利用药立达网站服务从事非法活动的，药立达网站有权立即终止继续对其提供药立达网站服务，注销其账号，并要求其赔偿由此给药立达网站造成的损失。<br/>
            <b>5、</b>如用户以技术手段干扰药立达网站的运行或干扰其他用户对药立达网站使用的，药立达网站有权立即注销其药立达网站账号，并有权要求其赔偿由此给药立达网站造成的损失。<br/>
            <b>6、</b>如用户以虚构事实等方式恶意诋毁药立达网站或药店的商誉，药立达网站有权要求用户向药立达网站或药店公开道歉，赔偿其给药立达网站或药店造成的损失，并有权终止对其提供药立达网站服务。
          h4 十一、争议解决
          p.
            用户与药立达网站因本协议的履行发生争议的应通过友好协商解决，协商解决不成的，任一方有权将争议提交北京仲裁委员会依据该会仲裁规则进行仲裁。
          h4 十二、协议生效
          p.
            本协议于用户点击药立达网站注册页面的同意注册并完成注册程序、获得药立达网站账号和密码时生效，对药立达网站和用户均具有约束力。
      //页面内容 | 结束


  script(id="ENTRY",data-page='protocol',src='/static/init.js')